<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
    <title>Todo-Manager</title>
    <style>
      /* Disable text selection */
      body {
        user-select: none;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
      }
    </style>
</head>

<body>
    <div class="grid grid-cols-6">
        <div class="col-start-3 col-span-2 space-y-3">
            <header> <%- include("header.ejs") %> </header>
            <form action="/todos" method="post">
                <div class="flex gap-2">
                    <div class="flex-auto">
                        <input type="text" name="title" id="task" placeholder="What's next ?"
                            class="border border-gray-300 text-gray-900 p-2 w-full rounded text-smb leading-4" required>
                    </div>
                    <div class="flex-auto">
                        <input type="date" name="dueDate" id="date"
                            class="border border-gray-300 text-gray-900 p-2 w-full rounded text-sm" required>
                    </div>
                    <div class="flex-none">
                        <button type="submit" class="bg-green-500 text-white p-2 w-full rounded-lg">Add</button>
                    </div>
                </div>
            </form>
            <div>
                <div class="flex gap-2">
                    <h5>Overdue</h5>
                    <span id="count-overdue" class="p-1.5 bg-gray-300 rounded text-sm">
                        <%= overdueTodos.length %>
                    </span>
                </div>
                <div style="list-style: none; margin: 10px; border: 1px solid #ccc; border-radius: 5px; background-color: #f5f5f5;" >
                <ul class="list-none">
                   <%- include("todos.ejs", {data: overdueTodos}) %>
                   
                </ul>
                </div>
            </div>

            <div>
                <div class="flex gap-2">
                    <h5 id="dueToday">Due Today</h5>
                    <span id="count-overdue" class="p-1.5 bg-gray-300 rounded text-sm">
                        <%= dueTodayTodos.length %>
                    </span>
                </div>
                 <div style="list-style: none; padding: 0; margin: 8px; border: 1px solid #ccc; border-radius: 3px; background-color: #f5f5f5;">      
                <ul class="list-none">
                    <%- include("todos.ejs", {data: dueTodayTodos}) %>
                </ul>
            </div></div>

            <div>
                <div class="flex gap-2">
                    <h5 id="dueLater">Due Later </h5>
                    <span id="count-overdue" class="p-1.5 bg-gray-300 rounded text-sm">
                        <%= dueLaterTodos.length %>
                    </span>
                </div>
               <div style="list-style: none; padding: 0; margin: 10px; border: 1px solid #ccc; border-radius: 5px; background-color: #f5f5f5;">      

                <ul class="list-none">
                    <%- include("todos.ejs", {data: dueLaterTodos}) %>
                </ul>

            </div>
            </div>
            
        </div>
    </div>
    </div>
</body>

</html>
